
<body>
<div class="container mt-5 pt-4">
  <table class="table p-2 table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col" *ngFor="let head of getHeaders()">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let item of list | tableFilter:value | paginate: {itemsPerPage : 10,currentPage:p}">
        <td *ngFor="let key of item | keys" (click)="goToTheLink(item[key])">
          {{item[key]}}
        </td>
      </tr>
      
    </tbody>
  </table>
  <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
        
    </div>
    <div class="card-footer pb-2 pt-3 text-center">
      <button (click)="call()" class="btn btn-primary text-center"><i class="fa fa-rocket"></i></button>
  </div>
</body> 

