.movedown{
    position: relative;
    top: 20px;
}
.moveup{
    position: relative;
    top: -50px;
}
input::placeholder{
    text-align: center;
    color: black;
}
button{
    position: absolute;
    bottom: 0;
}
input{
    height: 3em;
    display: block;
    margin:0 auto;
    border-radius: 23px;
}
input:start{
    text-align: center;
}