<app-back class="movedown"></app-back>
<div class="container text-center mt-5 p-2">
    <input type="search" [(ngModel)]="hello" class="form-control design text-center" placeholder="enter the name of the country"> 
    <sa-spinner-round-outlined [enabled]="val" size="100" class="mt-2 pt-3"></sa-spinner-round-outlined>
</div>

<app-table [list] = "dataList" [value]="hello" class="moveup"></app-table>
