li a{
    font-size: 1.5em;
    color: black;
    font-weight: 400;
}
.navbar{
    background: rgb(245, 208, 0);
    
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105,102,113, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
li :hover{
    color: rgb(245, 208, 0);
}
body{
    margin: 0;
}