
  <div class="container-fluid">
  
    <nav class="navbar navbar-expand-lg ">
      <div class="container text-center">
  
        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="states">States</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="countries">Countries</a>
              </li>
             
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  <app-home-page></app-home-page>


