/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.design{
    -webkit-appearance: none!important;
    appearance: none!important;
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 10px 35px rgb(0 0 0 / 10%);
    color: #6c757d;
    font-size: 1rem;
    height: 2.7rem;
    outline: none;
    padding: 1rem 1rem 1rem 3rem;
    width: calc(100% - 4rem);
}
input::placeholder{
    text-align: center;
}