.style p{
    text-transform: capitalize;
    font-size: 1.5em;
    font-family: cursive;
    letter-spacing: 2px;
    line-height: 30px;
}
.display-1{
    font-size: 2.5em;
    color: rebeccapurple;
}
.style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h1{
    font-weight: 900;
    font-size: 2em;
}
.container{
    padding: 120px;
}
.center{
    display: grid;
    justify-content: center;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}
.images{
    opacity: 1;
    overflow: hidden;
    position: relative;
    /* height: 85vh; */
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: contain;   
}
