<div class="container-fluid mt-4">
    <div class="images">
       <div class="contents m-3 p-5">
            <h1 class=" py-2 text-center text-warning display-1">Welcome To Covid Tracker App</h1>
            <div class="center d-flex m-4">
                <a routerLink="states" class="btn btn-warning m-1">states</a>
                <a routerLink="countries" class="btn text-warning bg-dark m-1">countries</a>
            </div>

            <div class="center p-4">
                <a href="https://www.covid19india.org/" class="btn btn-warning text-dark" target="_blank">Visit INDIA's official website to know more</a>
            </div>
       </div>
        
    </div>
    
</div>
